# === General ===
*.swp
*.swo
*.DS_Store
Thumbs.db

# === Python / Django ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
db.sqlite3
env/
venv/
.env
.env.local
instance/
media/
staticfiles/
static/
node_modules/
 

# === Django Migrations ===
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/[0-9]*_*.py

# === Vue 3 (Vite) ===
node_modules/
dist/
.vite/
.vscode/
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# === Docker ===
.dockerignore
docker-compose.override.yml
__pycache__/
**/__pycache__/
*.pid
*.tar
logs/
*.db
instance/

# === VS Code & JetBrains IDEs ===
.vscode/
.idea/
*.iml

# === System Files ===
.DS_Store
Thumbs.db
