@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('src/main.js');

html {
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


body {
    background-color: #e7e7e7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.card-login{
    display: flex;
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.circle-logo-wmu{
    max-width: 80px;
    padding: 20px;
}

.lostnfound-logo{
    max-width: 200px;
    padding-bottom: 20px;
}

.login-field a{
  padding-bottom: 5px;
  padding-top: 5px;
}

.label-text{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

.forget-text{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
    opacity: .75;
}

.login-field{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.login-field .forget-field{
    width: 100%;
    text-align: right;
}

.login-field input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
}

.input-field{
  width: 100%;
}

.spacer{
    padding-bottom: 10px;
    padding-top: 10px;
}

.login-button-field{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.login-button{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;

    width: 60%;
    height: 45px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    background-color: #F1C500;
    color: #532E1F;
    font-weight: 300;
    font-size: 20px;
    
}

.register-text{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
    opacity: .75;
}

/* main-page.html */
.search-bar {
  display: flex;
  max-width: 32rem;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
}

.background-bar-left{
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
  width: 10rem;
  align-items: flex-start;
  justify-content: center;
}

.background-bar-left button{
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
  padding-top: 2rem;
}

.background-bar-right{
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
  width: 12rem;
  align-items: flex-start;
  justify-content: center;
}

.item-images{
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
  border-radius: .5rem;
  width: 10rem;
  height: 10rem;
}

.main-body{
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: "Rubik", serif;
  background-image: url("assets/wmu-login-photo.jpg");
}